@media (min-width: 100px) and (max-width: 576px) {
  .cocktail-container{
    width: 200px;
    padding: 0;
  }

  .cocktail-image {
    width: 50px;
    height: 50px;
  }
  .cocktail-add-dose {
    width: 100px;
  }

  .cocktail-hover {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .cocktail-ingredients {
    width: 150px;
    margin: 0;
    padding: 0;
  }
}
.cocktail-ingredients {
  margin-left: 4px;
  padding: 0;
}

.cocktail-ingredient {
  display: flex;
  a {
    text-decoration: none;
    margin-left: $spacer;
  }
  li {
    list-style-type: none;
  }
  a:hover {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.75);
  }
}

.cocktail-add-dose {
  display: flex;
  align-items: center;
  margin-top: $spacer;
  // padding-right: 0;
  width: 170px;
  transition: 0.5s;
  p {
    margin: 0;
    margin-left: $spacer /2;
  }
  i {
    margin-right: $spacer;
  }
}
.cocktail-container {
  padding: $spacer * 2;
  background-color: rgb(235,235,235);
  margin: $spacer * 2 auto;
  margin-top: $spacer * 5;
  width: 450px;
  display: flex;
  border: 1px solid rgba(55,55,55, 0.3);
  transition: 0.5s;
}



.cocktail-image {
  background-image: asset-url("cocktail.jpg");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: $spacer;
  margin-right: $spacer;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.91);
}

.cocktail-info {
  margin-left: $spacer *2;
}

.cocktail-hover {
  &:hover {
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  }
}

#dose_ingredient_id {
margin-left: $spacer *2;
}
