.navbar-lewagon {
  justify-content: space-between;
  background: #22a8aa;
  border-bottom: 1px solid rgba(55,55,55, 0.5);
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
